<html>
<body>
    <h1>Edit Menu item</h1>
    <form action="{{ url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=i.id) }}" method="POST">

        <p>Enter the new name of the menu</p>
        <input type = 'text' size="30" name="name" placeholder="{{ i.name }}">
        <input type = 'submit' style="font-size:15pt;color:white;background-color:deepskyblue;border:2px solid #336600;padding:6px" value = 'Edit'>

    <form action="{{ url_for('restaurantmenu', restaurant_id=restaurant_id) }}">
        <input type="submit" style="font-size:15pt;color:black;background-color:snow;border:2px solid #336600;padding:6px" value="Cancel">
    </form>

    </form>
</body>
</html>