<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styleRestaurant.css') }}">

</head>
<body>
<div class="bg">

<h1> The Best restaurants in  the City</h1>
<h2>--------------------------------------------------------</h2>
<form action="{{ url_for('logout') }}">
  <input type="submit" style="font-size:12pt;color:white;background-color:#2980B9;border:2px solid #336600;padding:6px;float: right" value="LogOut">
</form>
<form action="{{ url_for('newRestaurant', restaurant=restaurant) }}">
        <input type="submit" style="font-size:12pt;color:black;background-color:#ffffcc;border:2px solid #336600;padding:6px" value="Add new Restaurant">

    </form>
    
        {% for i in restaurant %}
            <h3>{{ i.name }}</h3>
            <form action="/restaurant/{{ i.id }}">
            <input type="submit" style="font-size:8pt;color:white;background-color:dodgerblue;border:2px solid #336600;padding:6px" value="Check It Out">
            </form>

            <form action="{{ url_for('editRestaurant', restaurant_id=i.id) }}">
            <input type="submit" style="font-size:8pt;color:gray;background-color:white;border:2px solid #336600;padding:6px" value="Edit">
            </form>

            <form action="{{ url_for('deleteRestaurant', restaurant_id=i.id) }}">
            <input type="submit" style="font-size:8pt;color:red;background-color:white;border:2px solid #336600;padding:6px" value="Delete">
            </form>
        {% endfor %}
</div>
</body>
</html>
